@charset "utf-8";

/* CSS till IP, Simon, Marika och Kajsas IT-projekt VT 2022 */

/* Google fonts:
	Brödtext: font-family: 'Nunito', sans-serif;
	Rubriker: font-family: 'Roboto', sans-serif; */

/* Färgpalett:
	Off-white: #FFFCF2
	Ljusgrå: #EDE8E4
	Mint: #AAD8BC
	Rosa: #F784DB
	Blå: #4C49F3
	Svart: #252422 */

body {
	margin: 0;
}

p { /*brödtext*/
	font-family: 'Roboto', sans-serif;
	color: #252422;
	font-size: 1.2vw;
	line-height: 1.5vw;
	position: relative;
	z-index: 99;
}

/* Grid för sidebar, main och footer */
.grid-container-side {
	display: grid;
	grid-template-columns: 25% 75%;
	grid-template-rows: 100% 20%;
}
/* Sidebar */
sidebar {
	background-color: #FFFCF2;
	grid-area: 1 / 1 / 2 / 2;
	height: 100%;
}

.side-text {
	padding: 0 5vw;
	text-align: center;
}

a.side-link:link{
	font-family: 'Nunito', sans-serif;
	font-size: 2vw;
	color: #252422;
	text-decoration: none;
	text-align: left;
	line-height: 3.6vw;
}

a.side-link:hover{
	border-bottom: 5px dotted #252422;
}

a.side-link:active{
	color: #252422;
	border-bottom: 5px dotted #252422;
}

.logo { /* Logga som används i sidebar och footer, blå*/
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 1vw 0 0 0;
	width: 30%;
}

.pink-smiley { /* Smiley ikonen i sidebar, rosa */
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 5em 0;
	width: 30%;
}

h1 { /* Logo-text i sidebar & footer*/
	font-family: 'Nunito', sans-serif;
	font-size: 3vw;
	text-align: center;
	margin: 0;
	color: #252422;
}

/* Main */
main {
	background-color: #AAD8BC;
	background-size: cover;
	background-image: linear-gradient(to bottom, rgba(170, 216, 188, 0.8), rgba(117, 189, 145, 0.8)), url('bakgrund3.jpeg');
	grid-area: 1 / 2 / 2 / 3;
	
}

h2 a:link { /*Länk innuti knappar*/
	font-family: 'Nunito', sans-serif;
	font-size: 3vw;
	color: #252422;
	text-decoration: none;
	position: relative;
	z-index: 3;
}

h2 a:hover {
	border-bottom: 7px dotted #252422;
	position: relative;
	z-index: 3;
}

.button1 { /* "Quiz" knappen */
	margin: 12vw 7vw;
	width: 30vw;
	height: 2vw;
	padding: 1vw 1vw 2vw 3vw;
	position: relative;
	text-align: center;
}


.button1:before{ /* "Quiz" knappen: Rosa skugga */
	content: "";
	width: 110%;
	height: 160%;
	background-color: #f784db;
	border-radius: 2vw;
	border: 5px solid #4C49F3;
	position: absolute;
	top: 25px;
	left: 25px;
	z-index: 1;
}
.button1:after{ /* "Quiz" knappen: Vit */
	content: "";
	width: 110%;
	height: 160%;
	background-color:  #FFFCF2;
	border-radius: 2vw;
	border: 5px solid #4C49F3;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
}

.button2 { /* "Lär dig mer" knappen */
	margin: 12vw 25vw;
	width: 30vw;
	height: 2vw;
	padding: 1vw 1vw 4vw 3vw;
	position: relative;
	text-align: center;
}

.button2:before{ /* "Lär dig mer" knappen: Rosa skugga */
	content: "";
	width: 110%;
	height: 160%;
	background-color: #f784db;
	border-radius: 2vw;
	border: 5px solid #4C49F3;
	position: absolute;
	top: -25px;
	left: -25px;
	z-index: 1;
}
.button2:after{ /* "Lär dig mer" knappen: Vit */
	content: "";
	width: 110%;
	height: 160%;
	background-color:  #FFFCF2;
	border-radius: 2vw;
	border: 5px solid #4C49F3;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
}


.info-container { /* Inforuta container */
	margin: 25vw auto 30vw auto;
	width: 50vw;
	position: relative;
}

h3 { /* Titel för inforuta */
	font-family: 'Nunito', sans-serif;
	font-size: 3.5vw;
	color: #252422;
	margin-left: 4vw;
}

.box { /* Huvudruta */
	width: 90%;
	height: 80%;
	position: relative;
	z-index: 2;
	padding: 0vw 3vw;
}
.info-container:before{ /* Inforuta rosa skugga */
	content: "";
	width: 90%;
	height: 100%;
	background-color:  #f784db;
	padding: 0vw 5vw 0vw 2vw;
	border-radius: 2vw;
	border: 5px solid #4C49F3;
	position: absolute;
	top: 105px;
	left: -25px;
	z-index: 1;
}

.info-container:after{ /* Inforuta vit */
	content: "";
	width: 90%;
	height: 100%;
	background-color:  #FFFCF2;
	padding: 0vw 5vw 0vw 2em;
	border-radius: 2vw;
	border: 5px solid #4C49F3;
	position: absolute;
	z-index: 1;
	top: 80px;
}

/* quiz */
.quiz-container {
	width: 40%;
	height: 50%;
	position: absolute;
	z-index: 2;
	padding: 3vw;
	margin: 6vw 10vw;
}

.quiz-container:before{ /* Inforuta rosa skugga */
	content: "";
	width: 100%;
	height: 100%;
	background-color:  #f784db;
	padding: 0vw 0vw 0vw 0vw;
	border-radius: 2vw;
	border: 5px solid #4C49F3;
	position: absolute;
	top: 25px;
	left: -25px;
	z-index: 0;
}
.quiz-container:after{ /* Inforuta vit */
	content: "";
	width: 100%;
	height: 100%;
	background-color:  #FFFCF2;
	padding: 0vw 0vw 0vw 0em;
	border-radius: 2vw;
	border: 5px solid #4C49F3;
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 0px;
}

.question-box {
	background-color: #EDE8E4;
	border-radius: 2vw;
	padding: 1vw;
	position: relative;
	z-index: 4;
}

h4 { /* Fråga rubrik */
	font-family: 'Nunito', sans-serif;
	font-size: 1.5vw;
	color: #252422;
	margin: 0vw;
	border-bottom: 5px dotted #252422;
}

a.quiz-link { /* Svarsalternativ */
	font-family: 'Nunito', sans-serif;
	font-size: 1.3vw;
	color: #252422;
	margin: 0vw;
	text-decoration: none;
}

.answer-box {
	background-color: rgb(170, 216, 188, 0.2);
	position: relative;
	border-radius: 2vw;
	z-index: 5;
	margin: 1vw 0;
	padding: 1vw;
	transition: 0.5s linear;
}

.answer-box:hover {
	background-color: rgb(170, 216, 188, 0.7);
	transition: 0.5s linear;
}

/* Footer */
footer {
	background-color: #EDE8E4;
	width: 100%;
	height: 20vw;
	grid-area: 2 / 1 / 3 / 3;
}

.grid-container-footer { /* Grid container för att få infon i footer i 3 columner*/
	display: grid;
	grid-template-columns: 33.33% 33.33% 33.33%;
	grid-template-rows: 100%;
}


.textbox {
	width: 20vw;
	margin: 2vw 0vw 0vw 10vw;
}
